<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.14.2" targetFramework="native" />
  <package id="nanoFramework.Extensions.Stm32.GpioController" version="1.13.0" targetFramework="native" />
  <package id="nanoFramework.Hardware.Stm32" version="1.10.2" targetFramework="native" />
  <package id="nanoFramework.Runtime.Events" version="1.1.1" targetFramework="native" />
  <package id="nanoFramework.Targets.ST_STM32F429I_DISCOVERY" version="1.0.27" targetFramework="native" />
  <package id="nanoFramework.Targets.ST_STM32F769I_DISCOVERY" version="1.0.793" targetFramework="native" />
  <package id="nanoFramework.Windows.Devices.Gpio" version="1.2.0" targetFramework="native" />
</packages>